.bannar-background{
    background-image: url('Banner.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}
.header-main-text{
    position: relative;
    top: 20%;
    transform: perspective(1px) translateY(5%);
}
.main-h{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.4px;
    margin-bottom: 25px;
}
.main-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
@media(max-width:1023px){
    .bannar-background{
        /* background-color:rgba(92, 93, 94, 0.8); */
        /* background-image:none;  */
        height: auto; 
        /* color: white !important; */
    }
    .header-main-text{
        position: relative;
        top: 5%;
        transform: perspective(1px) translateY(5%);
    }
}

@media(max-width:767px){
    .bannar-background{
        background-color:rgb(19, 72, 146,0.8);
        background-image:none; 
        height: auto; 
        color: white !important;
    }
    .header-main-text{
        padding-top: 10%;
    }
    .main-h{
        color: white !important;

    }
}
