
.text-blue { 

    color: #1b4b93;
  
  }
  .card-view {
  
    background-color: #ffffff;
    background-clip: border-box;
    box-shadow: 0px 1px 29px 0px rgba(179, 176, 176, 0.27);
    border-radius: 10px;
    position: relative;
    flex-direction: column;
  }