@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  color: #484647;

  margin: 0;

  width: 100%;
}

/* ****************       ********************** */

.cta-teach {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  font-size: 30px;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 30px;
  margin-top: 14%;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-left: 5%;
  margin-right: 5%;
}

/* ****************   Hero Container    ********************** */

.hero-container {
  width: 100%;

  position: relative;

  top: 0;

  height: 100vh;

  padding: 0;
}

.hero-cta {
  text-align: left;

  padding-left: 28px;

  padding-top: 10vh;

  height: auto;
}

.hero-img {
  position: absolute;

  right: 0;

  z-index: -2;

  width: 100%;

  height: 100%;

  float: right;

  /* background-image: url('/assets/img/banner-svg.png'); */

  background-size: contain;

  background-repeat: no-repeat;

  background-position: right top;

  color: #fff;
}

.main-text {
  padding-bottom: 2.5rem;
}

.divider {
  width: 100%;

  height: 10vh;
}

/* Call to action Buttons  */

.button-light {
  border-width: 1px;

  border-color: rgb(15, 64, 137);

  border-style: solid;

  border-radius: 15px;

  border-top-right-radius: 0;

  cursor: pointer;

  background-color: #fff;

  height: 60px;

  width: 220px;
}

.button-white {
  border-width: 1px;

  border-radius: 15px;

  border-top-right-radius: 0;

  cursor: pointer;

  background-color: #fff;

  height: 60px;

  width: 220px;
}

.button-blue {
  border-width: 1px;

  border-color: rgb(15, 64, 137);

  border-style: solid;

  border-radius: 15px;

  border-top-right-radius: 0;

  cursor: pointer;

  height: 60px;

  background-color: #123c84;

  color: #fff;
}

/* Call To Action Section */

.cta {
  width: 100%;

  height: 25%;
}

.cta-field {
  position: relative;

  display: block;

  height: 100%;

  background: url('/assets/img/cta_background4.png');

  background-size: 100%;

  background-repeat: no-repeat;

  background-position: center center;

  color: #fff;

  display: flex;

  width: 100%;

  text-align: center;

  text-shadow: 1px 2px 4px rgba(#000, 0.2);

  padding-bottom: 100px;
}

.text-box-left {
  padding-top: 18%;

  color: inherit;

  text-align: left;
}

.text-box-right {
  padding-top: 18%;

  color: inherit;

  text-align: left;

  float: right;
}

.text-button {
  text-align: left;

  padding-left: 28px;
}

.circle {
  background-color: rgb(137, 159, 195);

  opacity: 0.8;

  width: 6.25vw;

  height: 6.25vw;

  border-radius: 50%;

  position: relative;

  left: -3.90625vw;

  top: -5.208333333333334vw;

  z-index: -2;
}

/* colors */

.co-grey {
  color: #484647;
}

.co-blue {
  color: #123c84;
}

.co-black {
  color: black;
}
.co-white {
  color: white;
}

/* Contact Section */

.contact {
  background-image: url('/assets/img/footer.png');

  background-size: cover;

  background-repeat: no-repeat;

  width: 100%;

  height: 100vh;

  overflow: hidden;
}

.center-promo {
  padding-top: 10%;
}

/*-------------------------------------------------------*/

/* Banner Area

/*-------------------------------------------------------*/

.bg-theme {
  background: linear-gradient(#144994, #01276b);

  background: -webkit-linear-gradient(-45deg, #144994, #01276b);

  background: -moz-linear-gradient(-45deg, #144994, #01276b);

  background: -o-linear-gradient(-45deg, #144994, #01276b);

  background: linear-gradient(-45deg, #144994, #01276b);
}

.bg-theme-light {
  background: #f5fafe;
}

.main-banner-area .right-bg {
  float: right;

  width: 55.5%;

  right: 1px;

  overflow: hidden;

  position: relative;

  z-index: 1;
}

.main-banner-area .right-bg:before {
  content: '';

  position: absolute;

  width: 100%;

  height: 100%;

  opacity: 0;

  background: linear-gradient(#144994, #01276b);

  background: -webkit-linear-gradient(-45deg, #144994, #01276b);

  background: -moz-linear-gradient(-45deg, #144994, #01276b);

  background: -o-linear-gradient(-45deg, #144994, #01276b);

  background: linear-gradient(-45deg, #144994, #01276b);
}

.main-banner-area .header-shape-bg {
  position: absolute;

  top: 0px;

  min-height: 500px;

  z-index: 2;

  width: 100%;
}

.main-banner-area .header-text {
  position: absolute;

  width: 100%;

  top: 35%;

  transform: perspective(1px) translateY(5%);

  z-index: 4;
}

.main-banner-area .header-text h1 {
  font-weight: 700;

  font-size: 36px;

  line-height: 44px;

  letter-spacing: 1.4px;

  margin-bottom: 25px;
}

.main-banner-area .header-text p {
  font-weight: 400;

  font-size: 16px;

  line-height: 28px;

  letter-spacing: 1px;

  margin-bottom: 30px;
}

.main-banner-area .header-text .email-box {
  width: 85%;

  position: relative;

  background: none;

  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .main-banner-area .right-bg {
    right: 0;
  }

  .main-banner-area .header-text {
    top: 35%;

    transform: perspective(1px) translateY(-70%);
  }

  .main-banner-area .header-text h1 {
    font-size: 32px;

    line-height: 42px;
  }

  .main-banner-area .header-text .email-box {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .main-banner-area .right-bg {
    width: 100%;

    max-height: 550px;

    height: 100%;

    min-height: 410px;
  }

  .main-banner-area .right-bg:before {
    opacity: 0.8;
  }

  .main-banner-area .header-shape-bg {
    display: none;
  }

  .main-banner-area .header-text {
    top: 20%;

    transform: perspective(1px) translateY(5%);
  }

  .main-banner-area .header-text h1 {
    font-weight: 600;

    font-size: 26px;

    line-height: 34px;

    color: #fff;

    text-align: center;
  }

  .main-banner-area .header-text p {
    color: #fff;

    text-align: center;

    margin-bottom: 20px;

    line-height: 24px;

    font-size: 14px;
  }

  .main-banner-area .header-text .email-box {
    width: 100%;
  }

  .main-banner-area .header-text .email-box span {
    color: #fff;

    text-align: center;
  }

  .main-banner-area .header-text .email-box p {
    color: #000;

    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .main-banner-area .right-bg img {
    width: auto;

    max-width: 144%;
  }

  .main-banner-area .header-text h1 {
    font-size: 24px;

    line-height: 30px;
  }
}
/*------------- Section Discount Section --------------  */

.banner-creative {
  padding: 15% 0;
}

.banner-creative .banner-img > img {
  left: -15px;

  top: -38%;
}

@media screen and (max-width: 1199px) {
  .banner-creative .banner-img > img {
    top: -18%;
  }
}

@media screen and (max-width: 991px) {
  .banner-creative .banner-img > img {
    position: relative;

    width: auto;

    float: none !important;

    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .banner-creative {
    padding: 30px 0;
  }
}

/* Value list Section English  */

.english .list-style li {
  line-height: 24px;

  margin-bottom: 10px;

  position: relative;

  padding-left: 30px;

  -webkit-transition: all 0.3s ease 0s;

  -moz-transition: all 0.3s ease 0s;

  -o-transition: all 0.3s ease 0s;

  transition: all 0.3s ease 0s;
}

.english .list-style li:hover {
  padding-left: 40px;
}

/* Value list Section Arabic */

.resp-tab-content {
  display: none;

  padding: 50px 0 0 0;
}

.resp-tab-content {
  border: 1px solid #c1c1c1;

  border-top-color: #c1c1c1;

  float: left;

  width: 100%;
}

.resp-tab-content {
  border: none;

  word-wrap: break-word;
}

.arabic .list-style li:last-child {
  margin-bottom: 0;
}

.arabic .list-style li:hover {
  padding-right: 40px;
}

/*  Fix non responsive elements */

@media screen and (max-width: 991px) {
  .center-promo {
    padding-top: 0;

    padding-bottom: 20%;
  }

  .circle {
    top: -24.208333333333334vw;

    margin-bottom: -20%;
  }
}

@media screen and (max-width: 767px) {
  .center-promo {
    padding-top: 0;

    padding-bottom: 30%;
  }

  .img-disapear {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
}

/* Footer Section  */

.contact-box {
  background-image: url('/assets/img/contact-back.png');

  background-size: 100% 100%;

  background-repeat: no-repeat;

  width: 100%;

  margin-bottom: -20%;

  z-index: 5;

  position: relative;
}

.discount-img {
  float: right;

  top: 10%;

  margin-right: -10%;

  position: relative;

  max-width: 100%;

  height: auto;
}

.contact-text {
  padding: 5%;

  color: #fff;
}

label p {
  text-transform: uppercase;
}

.img-fig > figcaption {
  margin-top: -32%;

  position: sticky;

  padding-right: 12%;
}

.img-fig > figcaption > h4 {
  line-height: 20px;
}

.img-fig > figcaption > h3 {
  line-height: 10px;
}

@media screen and (max-width: 991px) {
  .img-fig > figcaption {
    margin-top: -68%;

    background-color: rgba(255, 255, 255, 0.4);
  }
}

.footer-bg {
  background-image: url(/assets/img/footer.png);
  background-size: cover;

  padding-bottom: 0;

  padding-top: 30%;

  padding: 30% 10% 0 10%;
}

.img-custom {
  max-width: 90%;

  height: auto;
}

.contact-footer h3,
.contact-footer span {
  color: white;
}

.footer-logo {
  max-width: 30%;

  height: auto;
}

.circle-icon {
  border-radius: 50%;

  background-color: #fff;

  width: 36px;

  height: 36px;

  padding: 10px 11px;

  border: 2px solid #fff;
}

.circle-fb-icon {
  border-radius: 50%;

  background-color: #fff;

  width: 36px;

  height: 36px;

  padding: 10px 15px;

  border: 2px solid #fff;
}

span .icon {
  color: #3172c8;

  font-size: auto;
}

/* Particle js */

#particles-js {
  position: absolute;

  width: 100%;

  height: 100%;

  z-index: 0;
}

#particles-js2 {
  position: absolute;

  width: 100%;

  height: 100%;

  z-index: 0;
}

.input-12 {
  width: 100%;
}

.input-12::-ms-value @media screen (max-width: 991px) {
  .input-12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 1199px) {
}

/*Cookie Consent Begin*/

#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);

  min-height: 26px;

  font-size: 14px;

  color: #ccc;

  line-height: 26px;

  padding: 8px 0 8px 30px;

  font-family: 'Trebuchet MS', Helvetica, sans-serif;

  position: fixed;

  bottom: 0;

  left: 0;

  right: 0;

  display: none;

  z-index: 9999;
}

#cookieConsent a {
  color: #4b8ee7;

  text-decoration: none;
}

#closeCookieConsent {
  float: right;

  display: inline-block;

  cursor: pointer;

  height: 20px;

  width: 20px;

  margin: -15px 0 0 0;

  font-weight: bold;
}

#closeCookieConsent:hover {
  color: #fff;
}

#cookieConsent a.cookieConsentOK {
  background-color: #f1d600;

  color: #000;

  display: inline-block;

  border-radius: 5px;

  padding: 0 20px;

  cursor: pointer;

  float: right;

  margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
  background-color: #e0c91f;
}

/*Cookie Consent End*/

/* fonts */

p {
  font-family: 'Poppins';

  font-weight: 500;
}

.varela {
  font-family: 'Varela Round', sans-serif;
}

/* Droid Kufi for Arabic version */
.kufi {
  font-family: 'Droid kufi' !important;
}
.letter-spacing {
  letter-spacing: 0 !important;
}
/* fix */
.margin-up-fix {
  margin-top: -30% !important;
}
.line-height-fix {
  line-height: 25px !important;
}

@media screen and (max-width: 1199px) {
  .margin-up-fix {
    margin-top: -40% !important;
  }
}
@media screen and (max-width: 991px) {
  .margin-up-fix {
    margin-top: -50% !important;
  }
  .md-font-fix {
    font-size: 25px;
  }
}
/* Teacher Page */

.circle1 {
  background-color: rgb(137, 159, 195);
  opacity: 0.8;
  width: 6.25vw;
  height: 6.25vw;
  border-radius: 50%;
  position: relative;
}
.poppins-bold {
  font-weight: bold;
}
