.english .list-style li:hover {
  padding-left: 40px;
}
/* **************** icon section style */

.icon-container {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50%;
  background-color: #f2faff;
  padding: 50px;
}

.icon-container:hover {
  background-color: #5072a1;
  width: 220px !important;
  height: 220px !important;
  border-radius: 50%;
}
.text-gray {
  color: #525051;
}
.img-center {
  display: block;
  margin: auto;
}
/* .img-hover:hover {
  width: 80%;
} */
